@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

body{
  margin: 0;
}

[box]{
  width: 100%;
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-image: linear-gradient(-134deg, #3023AE 0%, #A15ACD 45%, #C86DD7 100%);
  -webkit-flex-direction: column;
  flex-direction: column;
}

[box="fill"]{
  width: 100%;
  height: 100vh;
}

[text]{
  font-size: 10vmin;
  font-family: roboto;
  font-weight: 300;
  text-align: center;
  line-height: 1.618em;
}



[text~="medium"]{
  font-size: 6vmin;
  font-family: roboto;
  font-weight: 300;
  text-align: center;
}

[text~="small"]{
  font-size: 3vmin;
  font-family: roboto;
  font-weight: 300;
  text-align: center;
}


[text~="left"]{
  text-align: left;
}


